body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    color: #ffffff;
}

h3 {
    text-align: center;
    color: #ffffff;
}



#profil {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
    flex-direction: row;
}

#profil a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
#profil a:hover {
    color: #000;
}

#zone-connexion {
    width: 500px;
    height: 550px;
    padding: 10px;
    background-color: rgb(91, 91, 240);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#zone-connexion input{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-left: 5%;
}

#zone-connexion button {
    width: 90%;
    height: 50px;
    background-color: #9da7f1;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 15%;
    font-size: 20px;
    cursor: pointer;
}
#zone-inscription {
    width: 500px;
    height: 550px;
    padding: 10px;
    background-color: rgb(10, 181, 190);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

#zone-inscription input{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-left: 5%;
}

#zone-inscription input[type="file"] {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 10%;
}

#zone-inscription button {
    width: 80%;
    height: 50px;
    background-color: #F85B52;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
    font-size: 20px;
}

